body{
    background-color: #fbd139;
    
}

#show_sketch{
    float: right;
}

h1{
    color: black;
    background-color: lightblue;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name:ShimmyShimmyAy ;
    animation-duration: 0.25s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes ShimmyShimmyAy{
    from{box-shadow: 1px 1px 200px red;}
    to{box-shadow: 1px 1px 200px blue;}
}